{% extends 'base.html.twig' %}

{% block title %}League of Personality - Profile{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/profile.css') }}"> 
<style>
    .avatar-upload-section {
        text-align: center;
        margin-bottom: 20px;
    }

    .avatar-upload-section img {
        width: 100px;
        height: 100px;
        border-radius: 50%; /* Rend l'image ronde */
    }

    .form-control, .file-upload-wrapper label, .btn-update {
        width: 100%; /* Utilisez 100% pour occuper toute la largeur */
        padding: 10px;
        margin-bottom: 1rem;
        border-radius: 4px;
        border: 1px solid #555;
        background-color: #4a5d71;
        color: white;
    }

    .form-control::placeholder {
        color: #bbb;
    }

    .file-upload-wrapper {
        position: relative;
        overflow: hidden;
        display: block; /* Modifié pour occuper toute la ligne */
        text-align: center; /* Centrer le label */
    }

    .file-upload-wrapper label {
        background-color: #007bff; /* Couleur de fond pour le bouton */
        color: #121212; /* Couleur du texte pour le bouton */
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 900;
        display: inline-block;
    }

    .file-upload-wrapper label:hover {
        background-color: #e6a00f; /* Couleur de fond au survol */
    }

    .file-upload-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .btn-update {
        background-color: #007bff; /* Couleur de fond pour les boutons */
        color: #121212; /* Couleur du texte pour les boutons */
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 900;
    }

    .btn-update:hover {
        background-color: #e6a00f; /* Couleur de fond au survol */
    }

    .profile-edit-container {
        width: 100%;
        max-width: 400px; /* Largeur maximale du conteneur */
        margin: auto;
        margin-top: 3em;
        margin-bottom: 3em;
        padding: 2rem;
        background-color: #1d344d; /* Fond du conteneur */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre portée pour le relief */
    }

    .form-group label {
        display: block;
        margin-bottom: .5rem;
    }
</style>
{% endblock %}

{% block body %}
<div class="profile-edit-container">
    <div class="profile-details-section">
        <form method="post" action="{{ path('app_profile') }}" enctype="multipart/form-data">
            

            <div class="avatar-upload-section">
                {% if userValues.avatar %}
                    <img src="{{ asset('img/avatar/' ~ userValues.avatar) }}" alt="Avatar de l'utilisateur" />
                {% else %}
                    <img src="{{ asset('img/default.png') }}" alt="Avatar par défaut" />
                {% endif %}
                <div class="file-upload-wrapper">
                    <input type="file" class="form-control" name="avatar" id="avatar-upload">
                    <label for="avatar-upload">Choisir un fichier</label>
                </div>
            </div>

            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" class="form-control" value="{{ userValues.username }}">
            </div>

            <div class="form-group">
                <label for="language">Langue</label>
                <select id="language" name="language" class="form-control">
                    {% for language in languages %}
                        <option value="{{ language.id_languages }}" {% if language.id_languages == userValues.language_id %}selected{% endif %}>{{ language.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="playstyle">Style de jeu</label>
                <select id="playstyle" name="playstyle" class="form-control">
                    {% for playstyle in playStyles %}
                        <option value="{{ playstyle.id_play_styles }}" {% if playstyle.id_play_styles == userValues.play_style_id %}selected{% endif %}>{{ playstyle.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="mainrole">Rôle principal</label>
                <select id="mainrole" name="mainrole" class="form-control">
                    {% for mainrole in mainRoles %}
                        <option value="{{ mainrole.id_main_roles }}" {% if mainrole.id_main_roles == userValues.main_role_id %}selected{% endif %}>{{ mainrole.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="mainchampion">Champion principal</label>
                <select id="mainchampion" name="mainchampion" class="form-control">
                    {% for mainchampion in mainChampions %}
                        <option value="{{ mainchampion.id_main_champions }}" {% if mainchampion.id_main_champions == userValues.main_champion_id %}selected{% endif %}>{{ mainchampion.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="rank">Rang</label>
                <select id="rank" name="rank" class="form-control">
                    {% for rank in ranks %}
                        <option value="{{ rank.id_ranks }}" {% if rank.id_ranks == userValues.rank_id %}selected{% endif %}>{{ rank.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="frequencyplay">Fréquence de jeu</label>
                <select id="frequencyplay" name="frequencyplay" class="form-control">
                    {% for frequencyplay in frequencyPlays %}
                        <option value="{{ frequencyplay.id_frequency_play }}" {% if frequencyplay.id_frequency_play == userValues.frequency_play_id %}selected{% endif %}>{{ frequencyplay.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn-update">Actualisation</button>
        </form>
    </div>
</div>
{% endblock %}
