{# templates/swipe/index.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Conteneur des cartes */
        .card-deck {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: #061120;
            margin-top: 20px; /* Marge supplémentaire en haut pour l'esthétique */
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: calc(35% - 20px); /* Ajustement pour 2 cartes par ligne avec marge */
            border-radius: 10px;
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #0f1b29; /* Couleur de fond bleu nuit */
            color: #fff; /* Couleur du texte blanc */
            padding: 20px; /* Espacement interne */
        }

        .card h5 {
            margin-top: 0; /* Suppression de la marge supérieure pour le titre */
            font-size: 20px; /* Taille de police du titre */
            font-weight: bold; /* Gras pour le titre */
        }

        .card p {
            margin: 10px 0; /* Marge autour des paragraphes */
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            transform: scale(1.05); /* Effet d'agrandissement au survol */
        }

        /* Responsive layout - makes a one column-layout for very small screens */
        @media screen and (max-width: 600px) {
            .card {
                width: calc(100% - 20px); /* Cartes pleine largeur avec marge */
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card-deck"> 
        {% for user in usersWithDetails %}
            <div class="card">
                <h5>{{ user.username | default('Nom d\'utilisateur non défini') }}</h5>
                <p>Champion Principal: {{ user.main_champion_name | default('Non défini') }}</p>
                <p>Rang: {{ user.rank_name | default('Non défini') }}</p>
                <p>Style de Jeu: {{ user.play_style_name | default('Non défini') }}</p>
                <p>Rôle Principal: {{ user.main_role_name | default('Non défini') }}</p>
                <p>Fréquence de Jeu: {{ user.frequency_play_name | default('Non défini') }}</p>
                <p>Langue: {{ user.language_name | default('Non défini') }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
